<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=b20e628b-09dd-433c-ac32-a384009a99ab.sqlserver.sequelizer.com;Database=dbb20e628b09dd433cac32a384009a99ab;User ID=vuljbnyrwesdjumh;Password=72yHxvnWsddxqdEVRiKe4P7vJKsUHejQaXXjQrQCJMdbBGxYM4znkxwq4c8UcAon;" />
  </connectionStrings>
</configuration>